<section id="main" class="clearfix category-page">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="title">Chosen User List</h2>
      </div>
      <div class="col-sm-12 item_list">
        <span *ngFor="let iobj of total; let i = index">
          <span class="cbody" (click)="loadUserData(i)">
            Item #{{iobj}}
          </span>
          <span class="xbody" (click)="deleteUserData(i)"><i class="fa fa-times" aria-hidden="true"></i></span>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8" style="margin-top: 20px;">
          <div [chart]="chart">

          </div>
          <div [chart]="chart2" style="margin-top: 30px;">

          </div>
      </div>
      <div class="col-sm-4">
        <div class="textboard">
          <span *ngIf="user_index != 0">This is the user #{{user_index}}'s data
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- container -->
</section>
