<!-- footer -->
<footer id="footer" class="clearfix">
  
  <div class="footer-bottom clearfix text-center">
    <div class="container">
      <p>DEMO
      </p>
    </div>
  </div>
  <!-- footer-bottom -->
</footer>
<!-- footer -->