<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BRS</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="assets/frontend/images/ico/favicon.png">
  
  <link rel="stylesheet" href="./assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./assets/bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="./assets/bower_components/Ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="./assets/css/AdminLTE.min.css">
  <link rel="stylesheet" href="./assets/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="./assets/bower_components/morris.js/morris.css">

  <link rel="stylesheet" href="./assets/frontend/css/font-awesome.min.css">
  <link rel="stylesheet" href="./assets/frontend/css/icofont.css">
  <link rel="stylesheet" href="./assets/frontend/css/owl.carousel.css">
  <link rel="stylesheet" href="./assets/frontend/css/slidr.css">
  <link rel="stylesheet" href="./assets/frontend/css/main.css">
  <link rel="stylesheet" href="./assets/frontend/css/presets/preset2.css">
  <link rel="stylesheet" href="./assets/frontend/css/responsive.css">
  <link rel="stylesheet" href="./assets/frontend/css/style.css">
  <link rel="stylesheet" href="./assets/css/pnotify.custom.min.css">


  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="./assets/frontend/images/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="./assets/frontend/images/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="./assets/frontend/images/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="./assets/frontend/images/ico/apple-touch-icon-57-precomposed.png">

  <!-- font -->
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Signika+Negative:400,300,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">


  <script src="./assets/frontend/js/jquery.min.js"></script>
  <script src="./assets/frontend/js/modernizr.min.js"></script>
  <script src="./assets/frontend/js/bootstrap.min.js"></script>

  <script src="./assets/frontend/js/owl.carousel.min.js"></script>
  <script src="./assets/frontend/js/smoothscroll.min.js"></script>
  <script src="./assets/frontend/js/scrollup.min.js"></script>
  <script src="./assets/frontend/js/price-range.js"></script>
  <script src="./assets/frontend/js/jquery.countdown.js"></script>
  <script src="./assets/frontend/js/custom.js"></script>
  <script src="./assets/frontend/js/switcher.js"></script>

  <script src="./assets/frontend/js/moment.js"></script>
  <script src="./assets/frontend/js/momentlocale.js"></script>


  <!-- sweetalert -->
  <script src="./assets/js/sweetalert.min.js"></script>
  <!-- PNOTIFY js -->
  <script type="text/javascript" src="./assets/js/pnotify.custom.min.js"></script>

  <script type="text/javascript">
            /*new PNotify({
              title: 'Success',
              text: '{{ session("success") }}',
              type: 'success',
              buttons: {
                sticker: false
              }
            });*/
  </script>

</head>
<body style="overflow-y: scroll; -webkit-overflow-scrolling: touch;">
  <app-root></app-root>
</body>
<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3JV9SN" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
</html>
